# Python overrides
*.py[cod]
__pycache__/
*.egg-info/

# Tests & Coverage
.pytest_cache/
.coverage
coverage.xml
tests/__pycache__/
*.log

# Build & Dist
build/
dist/

# Env & Config
venv/
.env

# IDEs
.vscode/
/.vs
.idea

# Custom test scripts
test.py
scripts/
examples/debug_*.json

# Sprint debug files
examples/debug_sprint*

# Extras
.ruff_cache
examples/debug_output.txt
scratch/v1_init.json
